{{> header title="Đái tháo đường type 2: nguyên nhân, biến chứng và phòng ngừa | Precision Med"}}

<body class="shop-page">
{{> navbars activeTab="posts"}}

<div class="page-content">
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 aside">
					<div class="blog-post blog-post-single">
						<div class="blog-post-info">
							<div class="post-date">17<span>JAN</span></div>
							<div>
								<h2 class="post-title"><a href="#">Đái tháo đường type 2: nguyên nhân, biến chứng và phòng ngừa</a></h2>
								<div class="post-meta">
									<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
								</div>
							</div>
						</div>
						<div class="post-text">
							<p>Bệnh đái tháo đường type2 là một trong những bệnh không lây nhiễm đang gia tăng tại Việt Nam. Theo Liên đoàn Đái tháo đường Thế giới (IDF) năm 2017, Việt Nam có tới 3,53 triệu người đang chung sống với bệnh đái tháo đường. Trong đó, hầu hết các bệnh nhân thuộc nhóm bệnh đái tháo đường type 2.</p>
							<h4>Đái tháo đường type 2 là gì?</h4>
							<p>Đái tháo đường type 2 là dạng phổ biến nhất của bệnh đái tháo đường và được đặc trưng bởi hàm lượng đường huyết cao một cách bất bình thường. Đường huyết là nguồn năng lượng chính của cơ thể và được chuyển hóa từ bữa ăn hàng ngày. Insulin là một loại hormon được tiết ra từ tụy và cũng là chất giúp chuyển hóa đường (glucose) thành năng lượng cho các tế bào của cơ thể. Trong trường hợp của đái tháo đường type 2, cơ thể không còn sản xuất đủ insulin hoặc không còn nhạy cảm với insulin để sử dụng chúng một cách hiệu quả để chuyển hóa đường, dẫn đến đường tích tụ trong máu nhưng lại không thể di chuyển vào các tế bào.</p>
							<p>Dù vậy, khác với type 1, đái tháo đường type 2 có thể được ngăn ngừa từ sớm hoặc có thể được đảo ngược sự phát triển của bệnh trước khi gây nên biến chứng.</p>
							<h4>Những đối tượng nào dễ mắc đái tháo đường type 2?</h4>
							<p>Đái tháo đường có thể xuất hiện ở bất kì độ tuổi nào, kể cả từ thời niên thiếu nhưng nó dễ được bắt gặp nhất ở độ tuổi trung niên (từ 45 tuổi trở lên) hoặc ở người lớn tuổi. Những đối tượng có tiền sử gia đình bị đái tháo đường hoặc đang bị thừa cân/béo phì cũng thuộc vào diện nguy cơ cao mắc bệnh hơn người bình thường. Chủng tộc không phải là một yếu tố ảnh hưởng đến nguy cơ mắc bệnh nhưng khảo sát cho thấy số ca bệnh ở những quốc gia có mức thu nhập trung bình/thấp hơn những quốc gia có mức thu nhập cao. Đến năm 2019, Châu Phi đứng đầu trong số người mắc đái tháo đường, tiếp đến là châu Á và châu Mỹ.</p>
							<p>Những yếu tố đời sống cũng là một trong những tác nhân chính làm tăng nguy cơ mắc đái tháo đường type 2. Ít vận động và một số vấn đề về sức khỏe như cao huyết áp là những nguyên nhân thường gặp dẫn đến mắc bệnh. Ngoài ra, nguy cơ cũng tăng cao nếu đối tượng đã từng mắc tiền đái tháo đường hoặc mắc đái tháo đường trong thời kì mang thai.</p>
							<h5 class="pl-3">1. Thừa cân, béo phì và sự ít vận động</h5>
							<p>Đây là những nguyên nhân phổ biến nhất dẫn đến đái tháo đường. Ít vận động sẽ dẫn đến thừa cân, và thừa cân sẽ dẫn đến béo phì. Thừa cân có thể làm cho cơ thể kháng lại insulin và đây cũng là đặc điểm thường thấy nhất ở các bệnh nhân đái tháo đường type 2. Vị trí mỡ trong cơ thể cũng ảnh hưởng đến nguy cơ mắc bệnh, điển hình là mỡ ở bụng đã được tìm thấy là gắn liền khả năng kháng insulin của cơ thể nói riêng và đái tháo đường type 2 nói chung, và các bệnh về tim mạch.</p>
							<p>BMI (Body Mass Index hay chỉ số khối cơ thể) là một công cụ tính toán cơ bản để kiểm tra bản thân có bị béo phì hoặc thừa cân hay không.</p>
							<h5 class="pl-3">2. Kháng insulin</h5>
							<p>Kháng insulin là một trong những dấu hiệu đầu tiên của bệnh đái tháo đường type 2. Đây là tình trạng mà khi các cơ, gan và tế bào mỡ không còn nhạy cảm với insulin để sử dụng chúng một cách hiệu quả nữa. Để bù đắp, cơ thể sẽ cần tụy tiết ra thêm nhiều insulin để có thể giúp chuyển hóa đường vào các tế bào. Ban đầu, tụy có thể đáp ứng được nhu cầu nhưng khi tình trạng này còn kéo dài, tụy sẽ không thể bắt kịp và lượng insulin tiết ra sẽ bị thiếu hụt so với nhu cầu. Kết quả cuối cùng sẽ dẫn đến hàm lượng đường huyết tăng mất kiểm soát và bệnh sẽ hình thành.</p>
							<h4>Vậy ngoài những yếu tố trên còn nguyên nhân nào dẫn đến đái tháo đường không?</h4>
							<p>Không chỉ riêng về lối sống, những yếu tố như gen, bệnh nền, những tổn thương tới tụy và một số loại thuốc có thể làm tăng nguy cơ mắc bệnh.</p>
							<h5  class="ml-3">1. Đột biến gen</h5>
							<ul  class="ml-3">
								<li><p>Đái tháo đường gây ra bởi gen đơn (đột biến chỉ xuất hiện tại một gen): Những loại đột biến này thông thường được di truyền giữa các đời gia đình nhưng trong một số trường hợp, nó vẫn có thể được nảy sinh do những ảnh hưởng từ yếu tố bên ngoài như môi trường. Đa số những đột biến này sẽ gây ảnh hưởng đến chức năng điều tiết insulin của tụy. Hai dạng thường gặp nhất của đái tháo đường gây ra bởi gen đơn là đái tháo đường sơ sinh và đái tháo đường khởi phát ở tuổi trưởng thành (Maturity-onset diabetes of the young – MODY). Như tên gọi, đái tháo đường sơ sinh thường xuất hiện trong vòng 6 tháng kể từ khi sinh và MODY thường được chẩn đoán vào độ tuổi thanh niên hoặc vừa trưởng thành. Đôi khi, MODY sẽ không được phát hiện mãi cho đến các giai đoạn sau của cuộc đời.</p></li>
								<li><p>Xơ nang (Cystic fibrosis): Bệnh lý này sẽ sản sinh ra chất nhầy đặc có thể gây tổn thương (sẹo) cho tụy. Những vết sẹo này có thể cản trở chức năng điều tiết insulin của tụy.</p></li>
								<li><p>Rối loạn sắc tố di truyền (Hemochromatosis): Bệnh lý này sẽ khiến cho cơ thể tích trữ quá nhiều sắt. Vì thế mà bệnh này còn được biết đến là bệnh ứ sắt. Nếu bệnh không được chữa trị, sắc tố sắt sẽ tích tụ trong cơ thể và gây tổn thương đến tụy và các cơ quan khác.</p></li>
							</ul>
							<h5  class="ml-3">2. Các bệnh liên quan đến hormone</h5>
							<p>Bệnh liên quan đến hormone có thể khiến cho cơ thể điều tiết sản lượng quá nhiều của một số hormone nhất định. Các hormone này có thể ảnh hưởng đến khả năng kháng insulin của cơ thế nói riêng và gián tiếp dẫn đến bệnh đái tháo đường nói chung.</p>
							<ul  class="ml-3">
								<li><p>Hội chứng Cushing: Đây là hội chứng khiến cho cơ thể sản sinh quá nhiều cortisol (hay còn được biết đến là hormone stress).</p></li>
								<li><p>Bệnh to các viễn cực: Đây là bệnh khiến cho cơ thể sản xuất quá nhiều hormone tăng trưởng, dẫn đến sự tăng trưởng quá mức của xương và các mô mềm trong cơ thể. </p></li>
								<li><p>Bệnh cường giáp: Đây là bệnh khiến cho tuyến giáp tiết ra quá nhiều hormone tuyến giáp. </p></li>
							</ul>
							<h5  class="ml-3">3. Tổn thương tụy</h5>
							<p>Ung thư tụy có thể làm ảnh hưởng xấu đến các tế bào sản sinh insulin, từ đó dẫn đến bệnh đái tháo đường. Khi phần tụy bị hư hại được loại bỏ, đái tháo đường chắc chắn sẽ xảy ra do sự thiếu hụt tế bào sản sinh insulin.</p>
							<h5 class="ml-3">4. Thuốc</h5>
							<p>Đôi khi, việc sử dụng một vài loại thuốc nhất định có thể gây ảnh hưởng xấu đến các tế bào sản sinh insulin hoặc làm rối loạn đến chức năng của insulin, ví dụ như:</p>
							<ul class="ml-3">
								<li><p>niacin, một loại vitamin B3</p></li>
								<li><p>một vài loại thuốc lợi tiểu </p></li>
								<li><p>thuốc chống động kinh</p></li>
								<li><p>thuốc hướng thần (thuốc tác động lên thần kinh)</p></li>
								<li><p>thuốc chữa trị HIV</p></li>
								<li><p>pentamidine (thuốc chữa trị viêm phổi)</p></li>
								<li><p>glucocorticoids (thuốc kháng viêm dùng để chữa trị những bệnh như viêm khớp dạng thấp, suyễn, lupus, viêm loét đại tràng)</p></li>
								<li><p>thuốc chống thải ghép (thuốc giúp cho cơ thể chống bài thải cơ quan vừa được ghép tạng)</p></li>
							</ul>
							<p>Statin cũng có thể làm tăng nguy cơ mắc đái tháo đường do chúng làm giảm lượng cholesterol xấu (LDL cholesterol) trong cơ thể. Tuy nhiên, statin lại giúp làm giảm nguy cơ mắc các bệnh về tim mạch như đột quỵ. Với những lợi ích vượt xa tác hại của thuốc, statin vẫn được sử dụng. </p>
							<h4>Những triệu chứng của bệnh</h4>
							<p>Triệu chứng của đái tháo đường type 2 thường phát triển âm thầm qua nhiều năm. Nó có thể nhẹ đến mức mà bệnh nhân không thể phát hiện triệu chứng sớm hơn. Ngoài ra, vẫn có nhiều người có nguy cơ mắc bệnh nhưng lại không có biểu hiện của triệu chứng hoặc có người chỉ phát hiện bệnh khi họ được chẩn đoán mắc những tình trạng khác liên quan đến đái tháo đường như thị giác kém hoặc bệnh tim. </p>
							<p>Một số triệu chứng và dấu hiệu sớm của bệnh bao gồm:</p>
							<ul>
								<li><p>Thường xuyên tiểu tiện: Khi hàm lượng đường huyết cao, thận sẽ hoạt động để loại bỏ lượng đường dư thừa bằng cách lọc nó khỏi máu. Điều này sẽ dẫn đến sự gia tăng về nhu cầu tiểu tiện, thông thường vào buổi tối. </p></li>
								<li><p>Thường xuyên khát nước: Việc tiểu tiện thường xuyên sẽ dẫn đến cơ thể mất nước nhanh hơn. Sau một thời gian, điều này sẽ gây nên tình trạng mất nước kéo dài và thường xuyên khát nước hơn bình thường.</p></li>
								<li><p>Luôn cảm thấy đói bụng: Những người bị bệnh thường không hấp thu đủ năng lượng từ thức ăn hàng ngày do cơ thể không còn chuyển hóa đường thành năng lượng một cách hiệu quả. Vì vậy, họ sẽ luôn cảm thấy đói bụng cho dù họ có vừa mới ăn hay không. </p></li>
								<li><p>Luôn cảm thấy mệt mỏi: Điều này có thể được lí giải bằng sự thiếu hụt năng lượng vì cơ thể không thể chuyển hóa đường thành năng lượng kịp với nhu cầu. Nó cũng có thể dẫn đến sụt cân không lí do.</p></li>
								<li><p>Mờ thị giác: Hàm lượng đường huyết dư thừa có thể làm tổn thương cách mạch máu nhỏ ở mắt và làm cho thị giác bị mờ. Tình trạng này có thể xảy ra ở một hoặc cả hai mắt và có thể tự biến mất sau một thời gian. Nếu bệnh nhân bị đái tháo đường không được chữa trị, tình trạng này có thể trở thành biến chứng nghiêm trọng và dẫn đến mù lòa.</p></li>
								<li><p>Vết thương chậm lành: Hàm lượng đường huyết cao có thể làm tổn thương đến dây thần kinh và mạch máu, từ đó ảnh hưởng đến quá trình lưu thông máu trong cơ thể. Điều này sẽ làm cho những vết thương dù rất nhỏ nhưng lại có thể cần từ vài tuần đến vài tháng để có thể chữa lành và trong khoảng thời gian này, vết thương cũng có nguy cơ bị nhiễm trùng.</p></li>
								<li><p>Đau nhói, tê liệt ở tay chân: Hàm lượng đường huyết cao có thể làm tổn thương đến dây thần kinh, từ đó có thể gây ra các cơn đau nhói hoặc cảm giác tê liệt ở chân hoặc tay. Đây còn được gọi là bệnh thần kinh đái tháo đường và có thể gây nên biến chứng nặng nếu không được chữa trị.</p></li>
								<li><p>Các mảng da sẫm màu: Hay còn được gọi là bệnh gai đen, thường xuất hiện ở cổ, nách, bẹn. Những phần da này khi chạm vào có thể cảm thấy mềm hoặc mượt. </p></li>
								<li><p>Ngứa ngáy và nhiễm khuẩn âm đạo: Lượng đường dư thừa trong máu và nước tiểu sẽ tạo điều kiện cho vi khuẩn (nấm) phát triển và dẫn đến nhiễm khuẩn. Nó thường xảy ra ở những vùng da ấm và ẩm ướt như miệng, các bộ phận sinh dục hoặc nách. Thông thường, những vùng da này sẽ ngứa ngáy nhưng đối với một vài người, nó có thể trở nên sưng đỏ, nóng và nhức nhối.</p></li>
							</ul>
							<h4>Bệnh nhân đái tháo đường còn có thể gặp phải những vấn đề gì về sức khỏe?</h4>
							<p>Theo sát kế hoạch trị liệu đái tháo đường có thể giúp giảm nguy cơ nhiều vấn đề về sức khỏe, trong đó có rất nhiều bệnh lý có thể để lại nhiều hậu quả về sau như:</p>
							<ul>
								<li><p>Bệnh tim và đột quỵ: Những tổn thương về mạch máu được gây ra bởi bệnh lý có thể dẫn đến bệnh tim và đột quỵ. Quản lý hàm lượng đường huyết, huyết áp, cholesterol trong máu và ngưng hút thuốc là những biện pháp cơ bản để ngăn ngừa bệnh. </p></li>
								<li><p>Tình trạng tụt đường huyết: Như tên gọi, nó có thể được gây ra bởi một vài loại thuốc chữa đái tháo đường nhất định. Thực hiện chế độ ăn uống và vận động lành mạnh cùng với sử dụng thuốc hợp lý có thể ngăn ngừa tình trạng này. Thường xuyên xét nghiệm máu cũng có thể giúp theo dõi hàm lượng đường huyết.</p></li>
								<li><p>Bệnh thần kinh đái tháo đường: Những tổn thương về hệ thần kinh có thể dẫn đến nhiều ảnh hưởng khác nhau. Quản lý tình trạng bệnh lý chặt chẽ để có thể ngăn ngừa những ảnh hưởng liên quan đến chức năng tứ chi hoặc đến các cơ quan như tim.</p></li>
								<li><p>Bệnh thận</p></li>
								<li><p>Bệnh về mắt: Bệnh có thể dẫn đến thị giác kém và mù lòa nếu đái tháo đường không được chữa trị. Bác sĩ thường khuyến nghị khám mắt (có thuốc giãn đồng tử) một năm một lần. </p></li>
								<li><p>Bệnh về miệng: Một số vấn đề như viêm lợi, nhiễm khuẩn và khô miệng có thể được ngăn ngừa bằng quản lý bệnh đái tháo đường chặt chẽ, đánh răng hai lần mỗi ngày và khám răng ít nhất một năm một lần.</p></li>
								<li><p>Bệnh về sinh dục và bàng quang: Một số vấn đề như rối loạn cương dương, mất hứng thú với quan hệ tình dục, rò rỉ bàng quang hay ứ đọng nước tiểu có thể xảy ra khi các mạch máu và dây thần kinh bị tổn thương bởi bệnh đái tháo đường. </p></li>
								<li><p>Vấn đề khác: Trầm cảm, nguy cơ về ung thư, gan nhiễm mỡ (không do cồn) sa sút về trí tuệ, tình trạng ngưng thở khi ngủ là một vấn đề đáng chú ý khác nếu bệnh đái tháo đường không được chữa trị. </p></li>
							</ul>
							<h4>Làm sao để giảm nguy cơ mắc bệnh đái tháo đường type 2?</h4>
							<p>Nếu bệnh nhân thuộc vào diện nguy cơ cao mắc bệnh, họ có thể điều chỉnh lối sống trở nên lành mạnh hơn nhằm giảm nguy cơ mắc bệnh như:</p>
							<ul>
								<li><p>Giảm cân nếu bị thừa cân và giữ cân nặng ở mức khỏe mạnh: Giảm cân (khoảng 5-7% cân nặng hiện tại) có thể giúp ngăn ngừa hoặc trì hoãn sự phát triển của bệnh đái tháo đường.</p></li>
								<li><p>Vận động nhiều hơn: Hãy vận động ít nhất 30 phút mỗi ngày và 5 ngày một tuần như đi bộ. Trao đổi với bác sĩ về những hoạt động phù hợp nhất với bản thân. </p></li>
								<li><p>Ăn uống lành mạnh: Giảm khẩu phần ăn xuống là một cách để giảm lượng calo được thu nạp vào cơ thể mỗi ngày và từ đó giúp giảm cân. Lựa chọn thực phẩm ít béo và hạn chế uống nước ngọt cũng là một cách khác. </p></li>
							</ul>
							<p>Ngoài ra, xét nghiệm gen cũng là một phương pháp hiệu quả giúp bạn biết tỷ lệ gen đột biến làm tăng nguy cơ mắc đái tháo đường của bạn là bao nhiêu phần trăm. </p>
							<p class="p-italic">Sản phẩm SuperEHR của Precision Med bao gồm các giải mã và phân tích toàn bộ hệ gen hỗ trợ cho việc đánh giá sức khỏe toàn diện cho khách hàng. Kết quả giải mã và phân tích hệ gen giúp phát hiện sớm rủi ro mắc bệnh và biến chứng do tiểu đường của khách hàng, tiết kiệm được chi phí và thời gian về lâu dài.</p>
						</div>
						<ul class="tags-list">
							<li><a href="#">EHR</a></li>
							<li><a href="#">Gen</a></li>
							<li><a href="#">Thuật toán</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 aside-left mt-5 mt-lg-0">
					<div class="side-block">
						<h3 class="side-block-title">Thể loại</h3>
						<ul class="categories-list">
							<li><a href="{{indexDir}}/ehr-resources.html">EHR</a></li>
							<li><a href="{{indexDir}}/gen-resources.html">Gen</a></li>
							<li><a href="{{indexDir}}/algorithum-resources.html">Thuật toán</a></li>
						</ul>
					</div>
					<div class="side-block">
						<h3 class="side-block-title">Thẻ</h3>
						<ul class="tags-list">
							<li><a href="#">Gen</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//section-->
</div>
{{> footer }}

<div class="backToTop js-backToTop">
	<i class="icon icon-up-arrow"></i>
</div>
<script src="{{assets}}/js/main.js"></script>

<!-- Vendors -->
<!-- <script src="{{assets}}/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="{{assets}}/vendors/jquery-migrate/jquery-migrate-3.0.1.min.js"></script> -->
<script src="{{assets}}/vendors/cookie/jquery.cookie.js"></script>
<script src="{{assets}}/vendors/popper/popper.min.js"></script>
<script src="{{assets}}/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{assets}}/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="{{assets}}/vendors/waypoints/sticky.min.js"></script>
<script src="{{assets}}/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{assets}}/vendors/slick/slick.min.js"></script>
<script src="{{assets}}/vendors/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
<script src="{{assets}}/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Custom Scripts -->
<script src="{{assets}}/js/other/app-shop.min.js"></script>
</body>

</html>