{{> header title="Tan máu bẩm sinh (thalassemia) là gì và phòng ngừa như thế nào? | Precision Med"}}

<body class="shop-page">
{{> navbars activeTab="posts"}}
<div class="page-content">
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 aside">
					<div class="blog-post blog-post-single">
						<div class="blog-post-info">
							<div class="post-date">17<span>JAN</span></div>
							<div>
								<h2 class="post-title"><a href="#">Tan máu bẩm sinh (thalassemia) là gì và phòng ngừa như thế nào?</a></h2>
								<div class="post-meta">
									<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
								</div>
							</div>
						</div>
						<div class="post-text">
							<p>Bệnh Thalassemia (tan máu bẩm sinh) là căn bệnh nguy hiểm và để lại nhiều biến chứng cho người mắc cũng như gánh nặng cho gia đình. Bệnh có thể phòng ngừa bằng cách sàng lọc, chẩn đoán qua các xét nghiệm và chẩn đoán di truyền.</p>
							<h4>Bệnh tan máu bẩm sinh là gì?</h4>
							<p>Bệnh tan máu bẩm sinh (hay còn được biết đến là bệnh tan máu bẩm sinh, tiếng Anh ‘Thalassemias’) là một dạng rối loạn huyết học di truyền, nghĩa là bệnh lý được truyền từ đời bố mẹ sang đời con cái thông qua gen di truyền. Bệnh lý sẽ khiến cho cơ thể tổng hợp nên ít hồng cầu khỏe mạnh và hemoglobin hơn thường lệ. </p>
							<p>Những người bị tan máu bẩm sinh thường bị tan máu thể nhẹ hoặc nặng. Bệnh lý này thường xảy ra khi lượng hồng cầu trong cơ thể thấp hơn bình thường hoặc không có đủ hemoglobin trong các hồng cầu.</p>
							<h4>Tình hình bệnh tan máu bẩm sinh trên thế giới</h4>
							<p>Thalassemia (tan máu bẩm sinh) là bệnh di truyền có tỷ lệ cao nhất trên thế giới. Theo báo cáo của Liên đoàn Thalassemia Thế giới năm 2012 (TIF – Thalassemia International Federation), có khoảng 7% dân số trên thế giới mang gen bệnh huyết sắc tố và thalassemia.</p>
							<p>Theo Tổ chức Y tế Thế giới (WHO – World Health Organisation), bệnh huyết sắc tố (HST) ảnh hưởng tới 71% số nước trên thế giới; khoảng 7% phụ nữ có thai mang gen bệnh huyết sắc tố và khoảng 1,1% các cặp vợ chồng có nguy cơ sinh con bị mang gen bệnh. Mỗi năm có khoảng 60.000 – 70.000 trẻ em sinh ra bị bệnh thalassemia mức độ nặng. Bệnh tập trung nhiều ở vùng Địa Trung Hải, Trung Đông, Châu Á – Thái Bình Dương trong đó có Việt Nam.</p>
							<h4>Tỷ lệ mang gen bệnh ở Việt Nam</h4>
							<p>Hiện nay, ở nước ta có khoảng trên 12 triệu người mang gen bệnh tan máu bẩm sinh và có trên 20.000 người bệnh mức độ nặng cần phải điều trị cả đời. Mỗi năm có thêm khoảng 8.000 trẻ em sinh ra bị bệnh thalassemia, trong đó có khoảng 2.000 trẻ bị bệnh mức độ nặng và khoảng 800 trẻ không thể ra đời do phù thai. Người bị bệnh và mang gen có ở tất cả các tỉnh/thành phố, các dân tộc trên toàn quốc.</p>
							<p>Chi phí điều trị trung bình cho một bệnh nhân thể nặng từ khi sinh ra tới 30 tuổi hết khoảng 3 tỷ đồng. Một người bệnh mức độ nặng từ khi sinh ra đến 21 tuổi cần truyền khoảng 470 đơn vị máu để duy trì đời sống. Mỗi năm, cả nước cần có trên 2.000 tủ đồng để cho tất cả bệnh nhân có thể được điều trị tối thiểu và cấn có khoảng 500.000 đơn vị máu an toàn.</p>
							<h4>Nguyên nhân gây bệnh</h4>
							<p>Cơ thể sản xuất ra 3 loại tế bào máu: hồng cầu, bạch cầu và và tiểu cầu. Hemoglobin thuộc vào các tế bào hồng cầu và là một protein giàu sắt số có nhiệm vụ vận chuyển oxy từ phổi sang các bộ phận khác của cơ thể. Ngoài ra, hemoglobin còn vận chuyển CO2 (một loại khí thải) trong cơ thể tới phổi để nó có thể được thải ra ngoài qua đường thở.</p>
							<p>Hemoglobin có 2 loại chuỗi protein là alpha globin và beta globin. Nếu cơ thể không sản xuất đủ chuỗi protein này hoặc chuỗi protein được tổng hợp nên bị lỗi, hồng cầu sẽ không được hình thành hoàn chỉnh hoặc không thể chứa đủ oxy cho mục đích vận chuyển. Từ đó, cơ thể sẽ không còn hoạt động ở công suất 100% nữa nếu các tế bào hồng cầu không sản xuất đủ hemoglobin khỏe mạnh.</p>
							<p>Bởi vì gen ảnh hưởng đến quá trình tổng hợp chuỗi protein trong tế bào hồng cầu, khi những gen này bị mất đi hoặc đột biến xuất hiện trên những gen này, bệnh nhân sẽ mắc phải bệnh tan máu bẩm sinh. </p>
							<p>Cũng chính vì yếu tố di truyền này mà bệnh lý cũng có thể được di truyền từ đời này sang đời khác. Tùy vào số lượng gen được thừa hưởng mà có thể chia làm 2 loại:</p>
							<ul>
								<li><p>Nếu chỉ nhận được 1 bản gen bệnh từ bố/mẹ và 1 bản gen khỏe mạnh từ người còn lại, họ được gọi là người mang mầm bệnh (những người mang trong mình mầm bệnh nhưng không bị bệnh hoặc bị bệnh tan máu thể nhẹ)</p></li>
								<li><p>Nếu nhận được cả 2 bản gen bệnh từ bố và mẹ (1 từ bố và 1 từ mẹ), họ sẽ mắc bệnh tan máu bẩm sinh từ thể trung gian đến thể nặng</p></li>
							</ul>
							<p>Những người mang mầm bệnh vẫn có thể di truyền gen bệnh cho đời con của mình. </p>
							<h4>Yếu tố nguy cơ</h4>
							<p>Do tính chất bẩm sinh của bệnh, có 2 yếu tố nguy cơ chính:</p>
							<h5 class="ml-3">Tiền sử sức khỏe của gia đình</h5>
							<p>Bệnh tan máu bẩm sinh có thể di truyền từ đời này sang đời khác thông qua gen. Nếu bố hoặc mẹ mang trong mình gen bệnh HBA1, HBA2, HBB (các gen ảnh hưởng đến quá trình tổng hợp hemoglobin) thì đứa con sinh ra sẽ có nguy cơ bị bệnh.</p>
							<h5 class="ml-3">Tổ tiên</h5>
							<p>Những người có tổ tiên/nguồn gốc từ Ý, Hy Lạp, Trung Đông, Nam Á/Đông Nam Á, châu Phi có nguy cơ mắc bệnh hơn người khác.</p>
							<h4>Dấu hiệu lâm sàng và triệu chứng</h4>
							<p>Sự thiếu hụt oxy trong dòng máu tuần hoàn trong cơ thể là nguyên căn dẫn đến những dấu hiệu và triệu chứng của bệnh tan máu bẩm sinh. Nó xảy ra khi cơ thể không sản xuất đủ hồng cầu và hemoglobin và dựa vào tình trạng này mà triệu chứng có thể nặng hoặc nhẹ.</p>
							<h5 class="ml-3">Không triệu chứng</h5>
							<p>Những người mang mầm bệnh tan máu bẩm sinh thể alpha thường không xuất hiện dấu hiệu hay triệu chứng của bệnh. Điều này thể hiện rằng sự thiếu hụt alpha globin là một vấn đề thứ yếu và không ảnh hưởng đến chức năng của hemoglobin trong cơ thể.</p>
							<h5 class="ml-3">Tình trạng tan máu nhẹ</h5>
							<p>Những người mang mầm bệnh tan máu bẩm sinh cả hai dạng đều có thể bị tan máu nhẹ. Dù vậy, đa số vẫn không xuất hiện dấu hiệu hay triệu chứng của bệnh. </p>
							<p>Tình trạng tan máu nhẹ có thể làm cho cơ thể cảm thấy mệt mỏi và đối với người mang mầm bệnh tan máu bẩm sinh dạng alpha, nó có thể bị nhầm lẫn thành tình trạng tan máu do tan sắt tố. </p>
							<h5 class="ml-3">Tình trạng tan máu nhẹ đến vừa</h5>
							<p>Những người mắc bệnh tan máu bẩm sinh thể trung gian có thể bị tan máu nhẹ đến vừa cùng với một số vấn đề về sức khỏe khác như:</p>
							<ul>
								<li><p>Sinh trưởng/phát triển chậm và dậy thì trễ. Ở trẻ em, tình trạng tan máu có thể làm trì hoãn quá trình sinh trưởng và phát triển</p></li>
								<li><p>Vấn đề về xương: Bệnh lý có thể khiến cho tủy xương nở rộng. Tủy xương là một phần mô mềm và xốp bên trong xương và có nhiệm vụ tạo ra các tế bào máu. Khi tủy xương nở rộng, bề ngang xương sẽ trở nên rộng hơn bình thường và khiến cho xương dễ vỡ và gãy hơn</p></li>
								<li><p>Lá lách phì đại: Lá lách là một cơ quan giúp cơ thể chống lại sự nhiễm trùng và loại bỏ những vật chất không mong muốn. Khi một người bị bệnh tan máu bẩm sinh, lá lách sẽ hoạt động gắng sức để bảo vệ cơ thể. Hậu quả là lá lách sẽ trở nên to hơn bình thường và điều này làm cho tình trạng tan máu tệ hơn. Khi lá lách trở nên quá lớn, nó cần được cắt bỏ. </p></li>
							</ul>
							<h5 class="ml-3">Tình trạng tan máu nặng</h5>
							<p>Những người mắc bệnh hemoglobin H hay tan máu Cooley đều là những bệnh nhân bị tan máu bẩm sinh thể nặng. Các dấu hiệu và triệu chứng thường xuất hiện trong vòng 2 năm kể từ khi sinh. Ngoài tình trạng tan máu nặng, bệnh nhân còn có thể gặp những vấn đề về sức khỏe khác như:</p>
							<ul>
								<li><p>Vẻ bề ngoài xanh xao/trắng bệch hoặc bơ phờ</p></li>
								<li><p>Kén ăn</p></li>
								<li><p>Nước tiểu sẫm màu (một dấu hiệu thể hiện các hồng cầu đang bị phá hủy)</p></li>
								<li><p>Sinh trưởng/Phát triển chậm và dậy thì trễ</p></li>
								<li><p>Chứng vàng da (có thể vàng tròng trắng mắt)</p></li>
								<li><p>Lá lách, gan, tim phì đại</p></li>
								<li><p>Các vấn đề về xương (đặc biệt là xương ở mặt)</p></li>
							</ul>
							<h4>Biến chứng</h4>
							<p>Hiện nay, các phương pháp trị liệu ngày càng được cải thiện và những bệnh nhân mắc bệnh tan máu thể vừa đến nặng được kéo dài sự sống. Điều này cũng đồng nghĩa với việc để có thể duy trì, họ phải đối mặt với những biến chứng có thể có của bệnh lý.</p>
							<h5 class="ml-3">Các bệnh về gan và tim</h5>
							<p>Truyền máu là liệu pháp thông dụng nhất của bệnh lý tan máu bẩm sinh. Tuy nhiên, truyền máu nhiều sẽ khiến cho sắt tố tích tụ trong máu (ứ sắt) và dẫn đến tổn thương các cơ quan và mô, đặc biệt là tim và gan.</p>
							<p>Ứ sắt có thể gây nên bệnh tim và đây cũng là một trong nguyên nhân chính gây tử vong ở những bệnh nhân mắc bệnh tan máu bẩm sinh. Bệnh tim bao gồm suy tim, loạn nhịp (nhịp tim bị rối loạn) và đau tim. </p>
							<h5 class="ml-3">Nhiễm trùng</h5>
							<p>Trong số bệnh nhân mắc bệnh tan máu bẩm sinh, nhiễm trùng là nguyên nhân chính gây nên các vấn đề về sức khỏe và là nguyên nhân phổ biến thứ nhì gây tử vong. Những người đã phẫu thuật cắt bỏ lá lách có nguy cơ nhiễm trùng cao hơn bởi vì họ không còn cơ quan chống lại sự nhiễm trùng. </p>
							<h5 class="ml-3">Bệnh loãng xương</h5>
							<p>Vấn đề về xương là một trong những biến chứng thường gặp ở bệnh nhân tan máu bẩm sinh. Bệnh loãng xương là một tình trạng mà xương yếu và trở nên dễ gãy/vỡ. </p>
							<h4>Điều trị</h4>
							<p>Việc điều trị bệnh tan máu bẩm sinh đều dựa vào loại và thể của bệnh. Những người mang mầm bệnh thường không có hoặc có triệu chứng nhẹ và không cần điều trị. </p>
							<p>Đối với những thể nặng hơn, bác sĩ thường sử dụng 3 phương pháp tiêu chuẩn: truyền máu, liệu pháp chelation và bổ sung folic acid. Ngoài ra tồn tại những liệu pháp khác nhưng vẫn đang trong giai đoạn thử nghiệm hoặc ít được sử dụng. </p>
							<h4>Sàng lọc và phòng ngừa</h4>
							<p>Bệnh tan máu bẩm sinh không thể được phòng ngừa bởi vì đây là một bệnh lý gây ra bởi tính trạng di truyền thông qua gen. Tuy nhiên, sàng lọc trước sinh có thể giúp phát hiện những tật rối loạn về máu trước khi sinh. </p>
							<p>Xét nghiệm gen cũng có thể giúp phát hiện gen bệnh có thể gây nên bệnh tan máu bẩm sinh ở người con.</p>
							<p class="p-italic">SuperEHR của Precision Med bao gồm xét nghiệm toàn bộ hệ gen qua đó cho biết hàm lượng và loại hemoglobin trong máu của một người. Việc thực hiện xét nghiệm gen sẽ giúp xác định chính xác người bệnh nghi vấn có mang gen alpha hay beta Thalassemia hay khôn, từ đó hỗ trợ bác sĩ trong việc chẩn đoán, điều trị bệnh hiệu quả và tư vấn sinh sản hợp lý.</p>
						</div>
						<ul class="tags-list">
							<li><a href="#">EHR</a></li>
							<li><a href="#">Gen</a></li>
							<li><a href="#">Thuật toán</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 aside-left mt-5 mt-lg-0">
					<div class="side-block">
						<h3 class="side-block-title">Thể loại</h3>
						<ul class="categories-list">
							<li><a href="{{indexDir}}/ehr-resources.html">EHR</a></li>
							<li><a href="{{indexDir}}/gen-resources.html">Gen</a></li>
							<li><a href="{{indexDir}}/algorithum-resources.html">Thuật toán</a></li>
						</ul>
					</div>
					<div class="side-block">
						<h3 class="side-block-title">Thẻ</h3>
						<ul class="tags-list">
							<li><a href="#">Gen</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//section-->
</div>
{{> footer }}

<div class="backToTop js-backToTop">
	<i class="icon icon-up-arrow"></i>
</div>
<script src="{{assets}}/js/main.js"></script>

<!-- Vendors -->
<!-- <script src="{{assets}}/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="{{assets}}/vendors/jquery-migrate/jquery-migrate-3.0.1.min.js"></script> -->
<script src="{{assets}}/vendors/cookie/jquery.cookie.js"></script>
<script src="{{assets}}/vendors/popper/popper.min.js"></script>
<script src="{{assets}}/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{assets}}/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="{{assets}}/vendors/waypoints/sticky.min.js"></script>
<script src="{{assets}}/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{assets}}/vendors/slick/slick.min.js"></script>
<script src="{{assets}}/vendors/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
<script src="{{assets}}/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Custom Scripts -->
<script src="{{assets}}/js/other/app-shop.min.js"></script>
</body>

</html>