{{> header title="Tổng quan về xét nghiệm gen | Precision Med"}}

<body class="shop-page">
{{> navbars activeTab="posts"}}
<div class="page-content">
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 aside">
					<div class="blog-post blog-post-single">
						<div class="blog-post-info">
							<div class="post-date">17<span>JAN</span></div>
							<div>
								<h2 class="post-title"><a href="#">Tổng quan về xét nghiệm gen</a></h2>
								<div class="post-meta">
									<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
								</div>
							</div>
						</div>
						<div class="post-text">
							<h4>Xét nghiệm gen là gì?</h4>
							<p>Xét nghiệm gen tìm kiếm những biến đổi (đôi khi còn được gọi là đột biến hay biến thể) trong DNA. Nó có thể mang lại nhiều lợi ích cho một vài lĩnh vực y khoa và làm thay đổi lộ trình điều trị mà bệnh nhân đang được nhận. Ví dụ như hội chứng gãy nhiễm sắc thể X có thể được chẩn đoán thông qua xét nghiệm gen. Thông thường, một mẫu máu hoặc một mẫu nước bọt được sử dụng để xét nghiệm gen và kết quả được trả về sau vài tuần. Bởi vì DNA được di truyền giữa các thành viên trong gia đình, nếu một người được phát hiện mang đột biến gen thì khả năng cao những thành viên còn lại cũng có đột biến gen đó. Tư vấn với chuyên gia di truyền học trước và sau khi xét nghiệm gen có thể giúp bệnh nhân hiểu được kết quả xét nghiệm, đồng thời đảm bảo được bệnh nhân đã lựa chọn loại xét nghiệm gen phù hợp với bản thân. </p>
							<p class="p-italic">Tại sao nên xét nghiệm gen?</p>
							<ul>
								<li><p>Để biết được bản thân có bị một tình trạng di truyền trong gia đình nào không trước khi triệu chứng xuất hiện.</p></li>
								<li><p>Để biết được về nguy cơ mắc bệnh di truyền của thai nhi khi đang hoặc có kế hoạch mang thai.</p></li>
								<li><p>Để chẩn đoán bệnh di truyền nếu bản thân hoặc người con xuất hiện triệu chứng.</p></li>
								<li><p>Để hiểu rõ hơn và định hướng phác đồ ngăn ngừa hoặc điều trị ung thư.</p></li>
							</ul>
							<h4>Các loại xét nghiệm gen</h4>
							<p>Xét nghiệm gen lâm sàng (xét nghiệm gián tiếp thông qua bác sĩ) khác với các xét nghiệm gen thương mại (xét nghiệm trực tiếp với nhà cung cấp dịch vụ không thông qua trung gian). Xét nghiệm gen lâm sàng thường được yêu cầu bởi bác sĩ vì một lí do y khoa cụ thể nào đó. Còn xét nghiệm gen thương mại thường được yêu cầu bởi những khách hàng muốn hiểu thêm về một số tính trạng của bản thân như nguồn gốc tổ tiêm, phản ứng thuốc hay nguy cơ mắc bệnh nhất định. Kết quả của xét nghiệm gen thương mai có thể được sử dụng để đưa ra những quyết định quan trọng về việc thay đổi lối sống hay trình bày những vấn đề về sức khỏe cho bác sĩ. Thế nhưng, xét nghiệm gen thương mại không thể xác định xem khách hàng có hay sẽ mắc bệnh hay không và bệnh nhân không nên chỉ dựa trên duy nhất kết quả xét nghiệm gen thương mại để đưa ra những quyết định về phương pháp điều trị hay chăm sóc sức khỏe. </p>
							<p>Hiện nay, không có một loại xét nghiệm gen nào có thể chẩn đoán được hết tất cả bệnh di truyền. Thay vào đó, bệnh nhân cần lựa chọn loại xét nghiệm phù hợp với tiền sử bệnh của gia đình và nhóm bệnh muốn được kiểm tra. </p>
							<p><b>Xét nghiệm gen đơn (một gen) (single gene testing):</b> Dạng xét nghiệm này chỉ kiểm tra đột biến trên một gen duy nhất. Bác sĩ thường yêu cầu loại xét nghiệm gen đơn khi họ tin rằng bệnh nhân hoặc người con của bệnh nhân có triệu chứng của một bệnh lý cụ thể. Một số ví dụ điển hình bao gồm tình trạng loạn dưỡng cơ Duchene, bệnh thiếu máu hồng cầu lưỡi liềm. Bệnh nhân cũng có thể lựa chọn xét nghiệm gen đơn nếu trong gia đình có một loại đột biến được di truyền.</p>
							<p><b>Xét nghiệm gen theo khung (panel testing):</b> Một lần xét nghiệm như thế này sẽ tìm kiếm đột biến ở nhiều gen. Xét nghiệm gen theo khung gồm nhiều loại nhỏ phân chia dựa trên những tình trạng sức khỏe khác nhau như xét nghiệm những gen liên quan đến tình trạng rối loạn trương lực cơ, chứng động kinh, ... Ngoài ra, nó cũng có thể được phân chia thành những khung gen có liên quan đến nguy cơ mắc các loại ung thư khác nhau như ung thư vú, ung thư đại trực tràng, ... Xét nghiệm theo khung sẽ giúp tiết kiệm chi phí giải mã khi bệnh nhân chỉ mong muốn xét nghiệm cho một nhóm bệnh nhất định. </p>
							<p><b>Xét nghiệm gen diện rộng (giải mã khoảng 0.03% bộ gen của con người):</b> Có 2 loại xét nghiệm gen diện rộng:</p>
							<ul>
								<li><p><b>WES (Exome Sequencing):</b> hay được dịch là giải mã trình tự gen ở vùng DNA đã được mã hóa. Đa số các đột biến gây bệnh thường nằm vào vùng DNA đã được mã hóa mà vì vậy phạm vi ES hướng tới là vùng này. Có hai loại chính: CES (clinical exome sequencing – ES lâm sàng) và WES (whole exome sequencing – ES toàn bộ). Trong đó, CES chỉ giải mã vùng DNA đã được mã hóa của một lượng gen nhất định (thông thường là những gen phổ thông “nổi tiếng” có đột biến gây bệnh, khoảng 4500 gen) còn WES sẽ giải mã toàn bộ vùng DNA đã được mã hóa của khoảng 22000 gen (~2% bộ gen của con người).</p></li>
								<li><p><b>WGS (Genome Sequencing):</b> còn được biến đến là WGS (Whole Genome Sequencing), được dịch là giải mã toàn bộ trình tự gen và là loại xét nghiệm gen rộng nhất giữa các loại. Khác với WES, WGS sẽ giải mã cả vùng DNA không mã hóa của khoảng 22000 gen trong cơ thể bởi vì mặc dù chưa có nhiều thông tin nhưng vùng không mã hóa vẫn có thể ảnh hưởng đến vùng mã hóa và dẫn đến xuất hiện những biến đổi gây bệnh ở vùng đó. Nói một cách khác, WGS sẽ giải mà toàn bộ DNA thay vì chỉ một phần của DNA như WES và do đó, độ bao phủ của WGS sẽ lên đến 100% bộ gen.</p></li>
							</ul>
							<p>Xét nghiệm WES và WGS sẽ được khuyến nghị cho những người có tiền sử sức khỏe phức tạp. Xét nghiệm gen diện rộng cũng được sử dụng để tìm hiểu nguyên nhân gen gây nên bệnh và có thể có những phát hiện phụ (secondary findings) ngoài những kết quả chính (mục tiêu xét nghiệm ban đầu). Ví dụ của những phát hiện phụ có thể được kể đến là tìm thấy khuynh hướng mắc ung thư hay những bệnh lý về tim hiếm gặp khi đang xét nghiệm gen nhằm giải thích nguồn căn di truyền các dị tật bẩm sinh.</p>
							<div><img src="{{assets}}/img/blog/post-5/image1.png" alt=""></div>
							<p class="p-italic">SuperEHR của Precision Med là hồ sơ sức khỏe điện tử đầu tiên tại Việt Nam cung cấp thông tin về toàn bộ hệ gen của khách hàng từ việc ứng dụng công nghệ giải mã toàn bộ hệ gen WGS hợp tác với công ty Macrogen – thuộc top 10 công ty lớn nhất thế giới trong lĩnh vực giải mã và phân tích gen. </p>
						</div>
						<ul class="tags-list">
							<li><a href="#">EHR</a></li>
							<li><a href="#">Gen</a></li>
							<li><a href="#">Thuật toán</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 aside-left mt-5 mt-lg-0">
					<div class="side-block">
						<h3 class="side-block-title">Thể loại</h3>
						<ul class="categories-list">
							<li><a href="{{indexDir}}/ehr-resources.html">EHR</a></li>
							<li><a href="{{indexDir}}/gen-resources.html">Gen</a></li>
							<li><a href="{{indexDir}}/algorithum-resources.html">Thuật toán</a></li>
						</ul>
					</div>
					<div class="side-block">
						<h3 class="side-block-title">Thẻ</h3>
						<ul class="tags-list">
							<li><a href="#">Gen</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//section-->
</div>
{{> footer }}

<div class="backToTop js-backToTop">
	<i class="icon icon-up-arrow"></i>
</div>
<script src="{{assets}}/js/main.js"></script>

<!-- Vendors -->
<!-- <script src="{{assets}}/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="{{assets}}/vendors/jquery-migrate/jquery-migrate-3.0.1.min.js"></script> -->
<script src="{{assets}}/vendors/cookie/jquery.cookie.js"></script>
<script src="{{assets}}/vendors/popper/popper.min.js"></script>
<script src="{{assets}}/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{assets}}/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="{{assets}}/vendors/waypoints/sticky.min.js"></script>
<script src="{{assets}}/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{assets}}/vendors/slick/slick.min.js"></script>
<script src="{{assets}}/vendors/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
<script src="{{assets}}/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Custom Scripts -->
<script src="{{assets}}/js/other/app-shop.min.js"></script>
</body>

</html>