{{> header title="Gen và bệnh di truyền | Precision Med"}}

<body class="shop-page">
{{> navbars activeTab="posts"}}

<div class="page-content">
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 aside">
					<div class="blog-post blog-post-single">
						<div class="blog-post-info">
							<div class="post-date">17<span>JAN</span></div>
							<div>
								<h2 class="post-title"><a href="#">Gen và bệnh di truyền</a></h2>
								<div class="post-meta">
									<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
								</div>
							</div>
						</div>
						<div class="post-text">
							<p>“Di truyền qua các thế hệ” là một cụm từ rất quen thuộc trong đời sống chúng ta. Từ những sự giống nhau rõ rệt về ngoại hình trong gia đình như đôi mắt đến những đặc điểm khó nhìn thấy hơn như hình dạng vành tai, tất cả tính trạng làm nên chúng ta đều được quy định từ DNA. Và DNA này đến từ đâu? Chính DNA từ bố mẹ ruột đã quy định nên DNA của chúng ta.</p>
							<p>Dự án bộ gen ở người (The Human Genome Project) đã ước tính một người có khoảng 20000 gen trong cơ thể. Gen ở trong DNA ở chúng ta đóng vai trò như là những dụng cụ để những tế bào khác nhau có thể sử dụng theo nhiều cách riêng biệt. Đa số các tế bào chỉ sử dụng một phần nhỏ những chức năng có sẵn trong số vô vàn khả năng mà gen có thể làm được. </p>
							<p>Tất cả tế bào đều chứa DNA (trừ hồng cầu)</p>
							<div>
								<img src="{{assets}}/img/blog/post-3/image1.png" alt="">
							</div>
							<h4>Gen có thể thay đổi</h4>
							<p>Tất cả các loại ung thư đều được gây ra bởi những đột biến ác tính hoặc bởi những biến đổi trong DNA. Đột biến ở DNA xảy ra thường xuyên nhưng đa số những biến đổi này là vô hại và không dẫn đến ung thư. Nó có thể diễn ra một cách tình cờ và thường được sửa sai một cách tự động bởi cơ thể của mình, ví dụ như đột biến có thể xuất hiện trong quá trình tế bào phân chia, khi quá trình xảy ra lỗi và gây nên một sự biến đổi không đáng kể trong tế bào mới được sản sinh ra. </p>
							<p>Tuy nhiên, đôi khi đột biến sẽ không được sửa chữa tự động và được tiếp tục truyền đi khi tế bào đó phân chia. Nếu đột biến này có hại và có thể ảnh hưởng đến những chức năng quan trọng của cơ thể (như điều hòa sự phát triển của tế bào hay sửa chữa DNA), những tế bào mang những đột biến này có thể trở nên giống các tế bào ung thư. Và khi số đột biến chạm đến một ngưỡng nhất định trong một tế bào, ung thư sẽ xảy ra. </p>
							<blockquote class="otro-blockquote">
								“Tất cả ung thư đều là di truyền và nó được kích hoạt bởi những gen đã bị biến đổi. Khi những gen điều khiển quá trình phân bào bị hư hại, các tế bào sẽ phân chia mất kiểm soát.”
								<span>— Viện Ung thư Quốc gia, Viện Y tế Quốc gia Hoa Kỳ</span>
							</blockquote>
							<h4>Đột biến đôi khi dẫn đến ung thư</h4>
							<div><img src="{{assets}}/img/blog/post-3/image2.png" alt=""></div>
							<p>Như đã thể hiện ở trên, một loạt đột biến ngẫu nhiên xuất hiện có thể tạo nên tế bào ung thư. Đột biến cũng có thể có sẵn trong bộ gen từ lúc mới sinh ra. </p>
							<p>Có hai loại đột biến gen đáng chú ý trong ung thư:</p>
							<p>Ngẫu nhiên – những sai sót trên DNA xảy ra một cách tình cờ và được lặp lại mỗi khi tế bào thực hiện phân chia. Những sai sót này sẽ ngày càng tích lũy khi con người ngày càng già đi. Ngoài ra, việc tiếp xúc trực tiếp với phóng xạ hay một số chất cụ thể cũng có thể làm tăng khả năng gen bị biến đổi. </p>
							<p>Di truyền – khi một người sinh ra đã mang trong mình đột biến gen, họ thường nhận được đột biến này từ bố hoặc mẹ hoặc từ cả hai người. </p>
							<p>Đa số ung thư phát triển từ những đột biến ngẫu nhiên nhưng có khoảng 10% trường hợp là do di truyền. Một số đột biến di truyền có thể làm tăng nguy cơ mắc ung thư đến 100% và cũng có thể làm cho người mang đột biến này mắc ung thư sớm hơn bình thường hoặc mắc nhiều loại ung thư khác nhau trong cả cuộc đời của họ.</p>
							<p>Đặc biệt, đôi khi cả một gia đình đều cùng mắc một loại ung thư và mọi người có thể nghĩ đó là một dạng ung thư di truyền trong gia đình. Nhưng trong thực tế, cái mà mọi thành viên trong gia đình đó có điểm chung không phải là đột biến di truyền trong gia đình mà là môi trường làm việc phải tiếp xúc với phóng xạ hoặc chất hóa học có thể gây nên biến đổi gen. Đối với những sự trùng hợp như thế này, các chuyên gia chăm sóc sức khỏe có thể giúp xác định đúng nguồn căn của bệnh. </p>
							<p>Nếu bạn đang mang trong mình đột biến di truyền có liên quan đến ung thư, hiểu được nguy cơ mắc bệnh có thể giúp bản thân và cả chuyên gia chăm sóc sức khỏe đưa ra những quyết định phù hợp hơn về quá trình trị liệu sắp tới hoặc có thể trước khi ung thư có cơ hội phát triển. </p>
							<h4>Tiền sử gia đình</h4>
							<p>Khi nói về tiền sử di truyền của gia đình, những thành viên thật sự đáng chú ý là những người thân ruột thịt. Ví dụ như bố sẽ thuộc vào người thân mức độ 1 bởi vì đó là người thân có quan hệ trực thuộc còn chú (anh em của bố) sẽ thuộc vào người thân mức độ 2. Khi người chú cưới vợ, cô ấy sẽ trở thành dì nhưng không phải là người thân ruột thịt. Khi họ có con, người con đó sẽ trở thành em họ và thuộc vào người thân mức độ 3. </p>
							<table class="table-ehr">
								<thead>
									<tr>
										<th>Mức độ 1</th>
										<th>Mức độ 2</th>
										<th>Mức độ 3</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Bố mẹ ruột; anh chị em ruột; con ruột (bố mẹ nuôi, con nuôi hay anh chị em chỉ cùng bố hoặc mẹ không phải là người thân mức độ 1)</td>
										<td>Ông bà; chú, dì; anh chị em chỉ cùng bố hoặc mẹ; cháu chắt; con cái của anh chị em ruột</td>
										<td>Anh chị em họ; ông bà cố; chú và dì của bố mẹ ruột</td>
									</tr>
								</tbody>
							</table>
							<p>Những người có tiền sử sức khỏe gia đình có thể bắt đầu hành động từng bước để làm giảm nguy cơ phát triển bệnh. Để hiểu rõ hơn về những tình trạng di truyền trong gia đình, hãy hỏi người thân, thu thập thông tin tiền sử sức khỏe của họ và lập nên một cây phả hệ. Nếu tìm thấy nhiều người thân mắc cùng một bệnh (ví dụ như ung thư vú hay ung thư buồng trứng), hãy thảo luận với các chuyên gia và tìm hiểu sâu hơn về nguy cơ đó là một bệnh di truyền trong gia đình.</p>
							<h4>Nguy cơ thay đổi tùy theo dân số</h4>
							<p>Cũng như việc nguy cơ mắc ung thư có thể di truyền trong gia đình, một số tình trạng xuất hiện nhiều hơn ở một số nhóm dân số nhất định. Những người thuộc các nhóm này có thể nhận được cấu trúc gen từ chung một tổ tiên của họ. Nếu cấu trúc này có đột biến gây bệnh, bệnh này sẽ xuất hiện phổ biến hơn ở nhóm người đó. Ví dụ như bệnh ung thư vú và ung thư buồng trứng di truyền xuất hiện nhiều hơn ở những nhóm người có nguồn gốc Do Thái Ashkenazi hay Đông Âu. </p>
							<p class="p-italic">Sản phẩm SuperEHR của Precision Med cung cấp cho khách hàng một đánh giá toàn diện về các rủi ro sức khỏe tiềm ẩn từ việc phân tích dữ liệu di truyền của khách hàng qua việc ứng dụng công nghệ giải mã toàn bộ hệ gen. Khách hàng sử dụng SuperEHR sẽ được cung cấp báo cáo rủi ro sức khỏe toàn diện cho hơn 20 bệnh phổ thông, các bệnh hiếm (rare diseases) và báo cáo các đột biến gen gây bệnh.</p>
						</div>
						<ul class="tags-list">
							<li><a href="#">EHR</a></li>
							<li><a href="#">Gen</a></li>
							<li><a href="#">Thuật toán</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 aside-left mt-5 mt-lg-0">
					<div class="side-block">
						<h3 class="side-block-title">Thể loại</h3>
						<ul class="categories-list">
							<li><a href="{{indexDir}}/ehr-resources.html">EHR</a></li>
							<li><a href="{{indexDir}}/gen-resources.html">Gen</a></li>
							<li><a href="{{indexDir}}/algorithum-resources.html">Thuật toán</a></li>
						</ul>
					</div>
					<div class="side-block">
						<h3 class="side-block-title">Thẻ</h3>
						<ul class="tags-list">
							<li><a href="#">Gen</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//section-->
</div>
{{> footer }}

<div class="backToTop js-backToTop">
	<i class="icon icon-up-arrow"></i>
</div>
<script src="{{assets}}/js/main.js"></script>

<!-- Vendors -->
<!-- <script src="{{assets}}/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="{{assets}}/vendors/jquery-migrate/jquery-migrate-3.0.1.min.js"></script> -->
<script src="{{assets}}/vendors/cookie/jquery.cookie.js"></script>
<script src="{{assets}}/vendors/popper/popper.min.js"></script>
<script src="{{assets}}/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{assets}}/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="{{assets}}/vendors/waypoints/sticky.min.js"></script>
<script src="{{assets}}/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{assets}}/vendors/slick/slick.min.js"></script>
<script src="{{assets}}/vendors/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
<script src="{{assets}}/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Custom Scripts -->
<script src="{{assets}}/js/other/app-shop.min.js"></script>

</body>

</html>