{{> header title="EHR, Gen và Thuật toán | Precision Med"}}

<body class="shop-page">
{{> navbars activeTab="posts"}}

<div class="page-content">
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="text-center mb-2  mb-md-3 mb-lg-4">
				<h1>Thông tin về Thuật toán</h1>
				<div class="h-decor"></div>
			</div>
		</div>
		<div class="container">
			<div class="blog-isotope">
				<div class="blog-post">
					<!-- <div class="post-image">
						<a href="{{indexDir}}/posts/post-1.html"><img src="images/blog/post-1/image1.png" alt=""></a>
					</div> -->
					<div class="blog-post-info">
						<div class="post-date">17<span>JAN</span></div>
						<div>
							<h2 class="post-title"><a href="{{indexDir}}/posts/post-6.html">Ứng dụng trí tuệ nhân tạo trong y tế</a></h2>
							<div class="post-meta">
								<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
							</div>
						</div>
					</div>
					<div class="post-teaser">Trí tuệ nhân tạo hay trí thông minh nhân tạo (Artificial intelligence  – viết tắt là AI) là một ngành thuộc lĩnh vực khoa học máy tính. Trí tuệ nhân tạo đang phát triển nhanh chóng và đã bắt đầu được sử dụng rộng rãi trong lĩnh vực y tế để cải thiện trình độ chuyên môn và hiệu quả công việc lâm sàng.  Ở một số quốc gia, trí tuệ nhân tạo không chỉ hỗ trợ bác sĩ mà còn được thiết kế để giải quyết tình trạng thiếu bác sĩ. […]</div>
					<div class="mt-2"><a href="{{indexDir}}/posts/post-6.html" class="btn btn-sm btn-hover-fill"><i class="icon-right-arrow"></i><span>Xem thêm</span><i class="icon-right-arrow"></i></a></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//section-->
{{> footer }}

<div class="backToTop js-backToTop">
	<i class="icon icon-up-arrow"></i>
</div>
<script src="{{assets}}/js/main.js"></script>

<!-- Vendors -->
<!-- <script src="{{assets}}/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="{{assets}}/vendors/jquery-migrate/jquery-migrate-3.0.1.min.js"></script> -->
<script src="{{assets}}/vendors/cookie/jquery.cookie.js"></script>
<script src="{{assets}}/vendors/popper/popper.min.js"></script>
<script src="{{assets}}/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{assets}}/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="{{assets}}/vendors/waypoints/sticky.min.js"></script>
<script src="{{assets}}/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{assets}}/vendors/slick/slick.min.js"></script>
<script src="{{assets}}/vendors/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
<script src="{{assets}}/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Custom Scripts -->
<script src="{{assets}}/js/other/app-shop.min.js"></script>
</body>

</html>