{{> header title="EHR, Gen và Thuật toán | Precision Med"}}

<body class="shop-page">
{{> navbars activeTab="posts"}}

<div class="page-content">
	<!--section-->
	<div class="section page-content-first">
		<div class="container">
			<div class="text-center mb-2  mb-md-3 mb-lg-4">
				<h1>Thông tin về EHR</h1>
				<div class="h-decor"></div>
			</div>
		</div>
		<div class="container">
			<div class="blog-isotope">
				<div class="blog-post">
					<!-- <div class="post-image">
						<a href="posts/post-1.html"><img src="images/blog/post-1/image1.png" alt=""></a>
					</div> -->
					<div class="blog-post-info">
						<div class="post-date">17<span>JAN</span></div>
						<div>
							<h2 class="post-title"><a href="{{indexDir}}/posts/post-1.html">EHR là một công cụ mang đến sự đổi mới cho ngành y tế</a></h2>
							<div class="post-meta">
								<div class="post-meta-author">by <a href="#"><i>admin</i></a></div>
							</div>
						</div>
					</div>
					<div class="post-teaser">Để hiểu rõ giá trị của EHR, cần so sánh với khái niệm tương tự. EMR (Bệnh án điện tử), EHR (Hồ sơ sức khoẻ điện tử) và PHR (Hồ sơ sức khoẻ cá nhân) đôi khi được hiểu và dùng lẫn lộn nhau, nhưng thực tế chúng có ý nghĩa và nội dung khác nhau, đồng thời cũng có những giá trị khác nhau đối với người dùng. […]</div>
					<div class="mt-2"><a href="{{indexDir}}/posts/post-1.html" class="btn btn-sm btn-hover-fill"><i class="icon-right-arrow"></i><span>Xem thêm</span><i class="icon-right-arrow"></i></a></div>
				</div>
			</div>
			
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//section-->
{{> footer }}

<div class="backToTop js-backToTop">
	<i class="icon icon-up-arrow"></i>
</div>

<script src="{{assets}}/js/main.js"></script>
<!-- Vendors -->
<!-- <script src="{{assets}}/vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="{{assets}}/vendors/jquery-migrate/jquery-migrate-3.0.1.min.js"></script> -->
<script src="{{assets}}/vendors/cookie/jquery.cookie.js"></script>
<script src="{{assets}}/vendors/popper/popper.min.js"></script>
<script src="{{assets}}/vendors/bootstrap/bootstrap.min.js"></script>
<script src="{{assets}}/vendors/waypoints/jquery.waypoints.min.js"></script>
<script src="{{assets}}/vendors/waypoints/sticky.min.js"></script>
<script src="{{assets}}/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{assets}}/vendors/slick/slick.min.js"></script>
<script src="{{assets}}/vendors/scroll-with-ease/jquery.scroll-with-ease.min.js"></script>
<script src="{{assets}}/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Custom Scripts -->
<script src="{{assets}}/js/other/app-shop.min.js"></script>

</body>

</html>